<html>
<head>
  <title>mqtt monitor</title>

  <!-- favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/cat.png') }}">

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- bootstrap stuff -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <script>
    function update_values() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/_msgs",
                function(data) {
                    if(data.msgs){
                        (data.msgs).forEach(function(m) {
                            $("#data").append($("<p></p>").text(m));
                        });
                    }
                    if(data.property1){
                        $("#property1").css('color', '#d9534f');
                        $("#property1").empty();
                        $("#property1").append($("<p></p>").text("VIOLATION! TRACE:"));
                        console.log(data.property1);
                        (data.property1).forEach(function(m) {
                            $("#property1").append($("<p></p>").text(m));
                        });
                    }
                    if(data.property2){
                        $("#property2").css('color', '#d9534f');
                        $("#property2").empty();
                        $("#property2").append($("<p></p>").text("VIOLATION! TRACE:"));
                        console.log(data.property2);
                        (data.property2).forEach(function(m) {
                            $("#property2").append($("<p></p>").text(m));
                        });
                    }

                });
    }
    setInterval(update_values, 1000);
    </script>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="border-right:1px solid #dddddd;">
                <h5 style="text-align:center;">assert: each node passes valid leader ID</h3>
                <span id="property1" style="color:#5cb85c">OK</span>
            </div>
            <div class="col-md-6">
                <h5 style="text-align:center;">assert: no node announces early</h3>
                <span id="property2" style="color:#5cb85c">OK</span>
            </div>
        </div> <!-- row -->

        <div class="row">
            <hr />
            <h3>ALL MESSAGES</h3>
            <div id="data"></div>
        </div>  <!-- row -->
    </div>  <!-- container-full-left -->
</body>
</html>
